In [288]:
import pandas as pd

In [289]:
csv_file = "MoviesOnStreamingPlatforms_updated.csv"
streaming_data=pd.read_csv(csv_file)
csv2_file = "TMDb_updated.csv"
overview_data=pd.read_csv(csv2_file)

In [290]:
streaming_data.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [291]:
streaming_data=streaming_data.drop(columns=['Unnamed: 0', 'Type','Language','Country'])

In [292]:
streaming_data["Netflix"].replace({1: True, 0: False}, inplace=True)
streaming_data["Hulu"].replace({1: True, 0: False}, inplace=True)
streaming_data["Prime Video"].replace({1: True, 0: False}, inplace=True)
streaming_data["Disney+"].replace({1: True, 0: False}, inplace=True)

In [294]:
streaming_data['Rotten Tomatoes']=streaming_data['Rotten Tomatoes'].str.replace(r'%', r'.0').astype('float')
streaming_data["Title"] = streaming_data["Title"].str.lower()
streaming_data["Title"] = streaming_data["Title"].str.replace(',',' ',regex=True).str.replace(':',' ',regex=True).str.replace('&','and',regex=True)

In [295]:
streaming_data=streaming_data.fillna(0)

In [296]:
streaming_data.head()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Runtime
0,1,inception,2010,13+,8.8,87.0,True,False,False,False,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller",148.0
1,2,the matrix,1999,18+,8.7,87.0,True,False,False,False,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",136.0
2,3,avengers infinity war,2018,13+,8.5,84.0,True,False,False,False,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",149.0
3,4,back to the future,1985,7+,8.5,96.0,True,False,False,False,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",116.0
4,5,the good the bad and the ugly,1966,18+,8.8,97.0,True,False,True,False,Sergio Leone,Western,161.0

In [297]:
overview_data.head()

,Unnamed: 0,title,overview,original_language,vote_count,vote_average,Unnamed: 6
0,0,Ad Astra,"The near future, a time when both hope and har...",en,2853,5.9,NaN
1,1,Bloodshot,"After he and his wife are murdered, marine Ray...",en,1349,7.2,NaN
2,2,Bad Boys for Life,Marcus and Mike are forced to confront new thr...,en,2530,7.1,NaN
3,3,Ant-Man,Armed with the astonishing ability to shrink i...,en,13611,7.1,NaN
4,4,Percy Jackson: Sea of Monsters,"In their quest to confront the ultimate evil, ...",en,3542,5.9,NaN

In [298]:
overview_data=overview_data.drop(columns=['Unnamed: 0', 'original_language','vote_count','vote_average','Unnamed: 6'])

In [299]:
overview_data["title"] = overview_data["title"].str.lower()
overview_data["title"] = overview_data["title"].str.replace(',',' ',regex=True).str.replace(':',' ',regex=True).str.replace('&','and',regex=True)

In [300]:
overview_data.head()

,title,overview
0,ad astra,"The near future, a time when both hope and har..."
1,bloodshot,"After he and his wife are murdered, marine Ray..."
2,bad boys for life,Marcus and Mike are forced to confront new thr...
3,ant-man,Armed with the astonishing ability to shrink i...
4,percy jackson sea of monsters,"In their quest to confront the ultimate evil, ..."

In [301]:
merge = streaming_data.merge(overview_data, left_on='Title',right_on="title")

In [302]:
merge=merge[["ID","Title","Year","IMDb","Rotten Tomatoes","Netflix","Hulu","Prime Video","Disney+","Directors","Genres","Runtime","overview"]]

In [303]:
merge_new.columns = map(str.lower, merge_new.columns)

In [304]:
merge_new.rename(columns={"id": "movie_id","rotten tomatoes":"rotten_tomatoes","prime video":"prime_video","disney+":"disney_plus"},inplace=True)

C:\Users\willi\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [306]:
merge_new.head()

,movie_id,title,year,imdb,rotten_tomatoes,netflix,hulu,prime_video,disney_plus,directors,genres,runtime,overview
0,1,inception,2010,8.8,87.0,True,False,False,False,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller",148.0,"Cobb, a skilled thief who commits corporate es..."
1,2,the matrix,1999,8.7,87.0,True,False,False,False,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",136.0,"Set in the 22nd century, The Matrix tells the ..."
2,3,avengers infinity war,2018,8.5,84.0,True,False,False,False,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",149.0,As the Avengers and their allies have continue...
3,4,back to the future,1985,8.5,96.0,True,False,False,False,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",116.0,Eighties teenager Marty McFly is accidentally ...
4,5,the good the bad and the ugly,1966,8.8,97.0,True,False,True,False,Sergio Leone,Western,161.0,While the Civil War rages between the Union an...

In [223]:
merge_new.to_csv(r'File Name.csv', index = False)

In [203]:
rating_df=merge_new[['movie_id','rotten_tomatoes','imdb']]
lookup=merge_new[['movie_id','title']]
streaming_service = merge_new[['movie_id','netflix','hulu','prime_video','disney_plus']]
overview_df=merge_new[['movie_id','overview']]
movie_details_df=merge_new[['movie_id','directors','year','runtime','genres']]

In [217]:
from sqlalchemy import create_engine
connection_string="postgres:ewvg7577@localhost:5432/movies_db"
engine = create_engine(f'postgresql://{connection_string}')

In [218]:
engine.table_names()

['lookup', 'streaming_service', 'rating', 'overview', 'movie_details']

In [219]:
lookup.to_sql(name='lookup',con=engine,if_exists='replace',index=False)

In [221]:
movie_details_df.to_sql(name='movie_details',con=engine,if_exists='replace',index=False)
streaming_service.to_sql(name='streaming_service',con=engine,if_exists='replace',index=False)
overview_df.to_sql(name='overview',con=engine,if_exists='replace',index=False)
rating_df.to_sql(name='rating',con=engine,if_exists='replace',index=False)

In [ ]:
overview_data= overview_data.drop_duplicates(subset='title', keep="first")